<app-dialog-box *ngIf="dialogActive" 
                (onDialogClose)="dialogActive=false"
                [buttons]="dialogButtons" 
                [text]="[dialogText]" 
                (onBtnClick)="getChoice($event)">
</app-dialog-box>
<app-navbar></app-navbar>

<div class="container">

    <h1>Open Trivia</h1>
    <h2>{{categoryName}}</h2>

    <hr>

    <div class="form-group">
        <label> Number of questions </label>
        <input name="numOfQuestions" type="number" (change)="amount = $event.target.value" min="1" max="50" value="10" class="form-input">
    </div>

    <div class="game-modes">
        <button class="play-btn" (click)="startSingleplayer()"><img class="btn-icon" src="assets/singleplayer.svg"> Singleplayer</button>
        <button class="play-btn" (click)="openDialog()"><img class="btn-icon" src="assets/multiplayer.svg"> Multiplayer</button>
    </div>
    
    <app-message [message]="errorMessage"></app-message>
</div>
