h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}