.room {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
}

.chat-wrap {
    flex-basis: 400px;
    flex-shrink: 0;
    border: 10px solid #1e1e1e73;
    position: relative;
}

.chat-container {
    width: 100%;
    margin: 0;
    padding: 1rem;
    border-top: 5px solid #18181893;
}

.message-wrap {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    margin: 0 ;
    background-color: var(--color-background);
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 1rem;
}

.message-container {
    word-wrap: break-word;
    white-space:pre-line;
    word-break: break-word;
    clear: both;

    margin: 0 1rem 0.75rem 1rem;
    max-width: 100%;
}

.user #uname{

    color: var(--color-accent);
}

.meta {
    width: 100%;
    text-align: center;
    color: #363535;
}

.timestamp {
    font-size: 10pt;
    color: #4b4949;
    float: right;
}

#message-text {
    margin: 0;
    display: block;
}

.btn-small {
    width: 68px;
    padding: 8px;
    margin-left: 5px;
    display: inline;
}

.chat {
    width: 80%;
    margin: 0;
    display: inline;
    outline: none;
    flex: 1;
}

.participants-wrap {
    min-width: 250px;
    margin-bottom: .5rem;
}

.participants-list {
    background-color: var(--color-background);
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
    &:last-child {
        border-bottom: 1px solid #bdbcc2c4;
    }
}

.participant {
    padding: .5rem 1rem;
    border: 1px solid #757575;
    border-bottom: none;
    word-wrap: break-word;
    word-break: break-all;
}

.user-detail {
    display: inline-flex;
}

#user-pic {
    border-radius: 100%;
    width: 50px;
    display: inline;
}

#user-info {
    margin-left: 15px;
    display: inline;
    padding: 0;
    align-self: center;
}

.this-user {
    // font-weight: bold;
    color: var(--color-accent);
    
    &::after {
        content: ' (You)';
    }
}

.quiz {
    margin: 0 1rem 0 1rem;
    display: flex;
    width: 100%;
    min-height: 500px;
}

.content {
    display: flex;
    margin: 0 auto;
    align-self: center;
}

.room-info {

    & h1 {
        margin: 0;
        font-size: 38pt;
    }
    text-align: center;
    margin: 0 auto;
    display: block;

}

.quiz-info {
    & h3 {
        margin: 0;
    }

    margin: 4rem 0 3rem 0;
    text-align: justify;
}

.start-quiz {
    & span::after {
        content: '';
        opacity: 0;
        transition: 0.5s;
    }

    &:hover span::after {
        content: '\00bb';
        margin-left: 15px;
        opacity: 1;
    }
}

.question-wrap, .rank-wrap{
    display: flex;
    margin: 0 auto;
    align-self: center;
}

.rank-wrap {
    align-content: center;
    padding: 0;
}

.rankings {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    & thead {
        background-color: #2d2d2d;
        font-weight: bolder;
        font-size: 18pt;

        & th{
            border: none;
            padding: 0.75rem 0;
            letter-spacing: 0.1rem;
        }
    }

    & tbody {
        font-size: 16pt;

        & tr {
            border-bottom: 1px solid #d8d6e133;
        }

        & td {
            padding: 1.25rem 0;
        }
    }

    & th:nth-child(1), td:nth-child(1) {
        width: 5%;
    }

    & tr:nth-child(1) {
        color: #daa520d3;
    }

    & tr:nth-child(2) {
        color: #aaa9adee;
    }

    & tr:nth-child(3) {
        color: #cd8032de
    }
}

.rank-photo {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 0 auto;
}

.emoji-picker {
    background: none;
    outline: none;
    border: none;

    & :hover {
        cursor: pointer;
    }
}

.material-icons {
    color: var(--color-accent);
}

.emoji-mart {
    position: absolute;
    bottom: 80px;
    right: 20px;
    border: none;
}

.participants-quiz-wrapper {
    display: flex;
    padding: 0px .5rem;
    flex-grow: 1;
}

@media screen and (max-width: 1200px) {
    .participants-quiz-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .quiz {
        margin: 0px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .room {
        flex-direction: column;
        align-items: center;
    }

    .chat-wrap {
        width: 80%;
    }
}