#login-wrapper {
    width: 530px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding-left: 2rem;
    padding-right: 2rem;
}

#login-header {
    margin-bottom: 4rem;
}

#login-title {
    font-size: 35pt;
    margin-bottom: 0;
}

#login-subtitle {
    font-size: 14pt;
    margin-top: 0;
}

#login-button {
    margin-top: 3rem;
    font-size: var(--font-size-default);
}

#login-footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #c6c5cc;
}

#reglink {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-accent);
    
    &:hover {
    
        color: var(--color-accent-active);
    }
}

#title {
    flex-grow: 1;
    color: var(--color-text);

    h1 {
        font-size: 52pt;
    }

    h2 {
        font-size: 32pt;
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    #title {
        text-align: center;
    }

    #login-wrapper {
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
        flex-grow: 0;
    }

    #wrapper {
        flex-direction: column;
        margin: 0;
        height: unset;
        padding-bottom: 20px;
    }

    #foot {
        margin-top: 30px;
        margin-bottom: 20px;;
    }
}