<div id="wrapper">

    <div id="title">
        <h1>Quizzr</h1>
        <h2>Web app for quiz competitions</h2>
    </div>

    <div id="login-wrapper">
        <div id="login-header">
            <h1 id="login-title">Login</h1>
            <p id="login-subtitle">Sign in to your account to continue</p>
        </div>

        <app-message *ngIf="loginFailed" [message]="errorMessage"></app-message>
        
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input name="username" formControlName="username" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input name="password" formControlName="password" type="password" class="form-input">
            </div>

            <button id="login-button" class="btn btn-block" type="submit" [disabled]="!loginForm.valid">Log in</button>
        </form>

        <div id="login-footer">
            <span>Don't have an account? <a id="reglink" routerLink='/register'>Click here to register.</a></span>
        </div>
    </div>

</div>