<div (click)="closeDialog($event)" class="background-cover">
    <div class="dialog-box">
        <span class="dialog-close">x</span>
        <app-message [message]="message"></app-message>
        <div *ngFor="let t of text" class="dialog-text">
            <h2>{{ t }}</h2>
        </div>
        <div *ngIf="hasGameCodeField" class="dialog-input">
            <label>Gameroom code:</label>
            <input class="form-input" #gamecode>
        </div>
        <div *ngIf="hasPinField" class="dialog-input">
            <label>Pin code:</label>
            <input class="form-input" #pin>
        </div>        
        <div class="dialog-buttons">
            <button *ngFor="let btnText of buttonsText" (click)="getBtnText($event)" class="btn">{{ btnText }}</button>
        </div>
    </div>
</div>
