.game-modes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.play-btn {
    color: var(--color-text);
    background-color: green;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: var(--font-size-label);
    width: 45%;
    cursor: pointer;
    margin: .5rem .2rem;

    &:hover {
        background-color: rgb(0, 114, 0);
    }

    &:disabled {
        background-color: gray;
        cursor: default;
    }
}

.btn-icon {
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .game-modes {
        flex-direction: column;
        align-items: center;
    }

    .play-btn {
        width: 90%;
    }
}