.countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time{
    font-size: 18pt;
    border: 5px solid white;
    border-radius: 50%;
    padding: 8px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    margin-left: 8px;
    margin-right: 8px;
}

.progress {

    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    // border: 3px solid white;
    // border-radius: 8px;

    .progress-segment {
        display: inline-block;
        height: 30px;
        width: 20px;
        border-radius: 4px;
        margin: 2px;

        &.visible {
            background-color: green;
        }
    }

    &.progress-right {
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row;
    }

    &.progress-left {
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row-reverse;
    }

}