<div *ngIf="currentQuestion" class="container" [ngSwitch]="currentQuestion.question_model">

    <app-countdown *ngIf="currentQuestion.time_limit > 0" [duration]="currentQuestion.time_limit" [running]="!correctAnswer"></app-countdown>

    <h1 class="question">{{questionNumber}}. {{currentQuestion.question_data.text}}</h1>

    <div *ngSwitchCase="'MultipleChoiceQuestion'">
        <ul *ngIf="!currentQuestion.question_data.multiple_correct" class="answers">
            <li *ngFor="let option of currentQuestion.question_data.options; index as i">
                <button class="btn btn-block answer" [ngClass]="getChoiceClass(i)" (click)="prepareAnswer(i)">{{option}}</button>
            </li>
        </ul>

        <div *ngIf="currentQuestion.question_data.multiple_correct">
            <ul class="answers">
                <li *ngFor="let option of currentQuestion.question_data.options; index as i">
                    <label class="btn btn-block btn-checkbox" [ngClass]="getOptionClass(i)">
                        <input type="checkbox" [checked]="option.checked" (change)="option.checked = !option.checked">
                        <span class="checkmark"></span>
                        <span class="checkbox-label">{{option.text}}</span>
                    </label>
                </li>
            </ul>
            <button class="btn btn-block" [ngClass]="getAnswerClass(stripChecked(currentQuestion.question_data.options))" (click)="prepareAnswer(stripChecked(currentQuestion.question_data.options))">Submit</button>
        </div>
    </div>

    <div *ngSwitchCase="'YesNoQuestion'">
        <ul class="answers">
            <li>
                <button class="btn btn-block answer" [ngClass]="getChoiceClass(true)" (click)="prepareAnswer(true)">
                    True
                </button>
            </li>

            <li>
                <button class="btn btn-block answer" [ngClass]="getChoiceClass(false)" (click)="prepareAnswer(false)">
                    False
                </button>
            </li>
        </ul>
    </div>

    <div *ngSwitchCase="'DragDropQuestion'">
        <div cdkDropList class="dragdrop-list" (cdkDropListDropped)="drop($event)">
            <div class="dragdrop-item" *ngFor="let item of currentQuestion.question_data.items; index as i" cdkDrag>
                {{item.text}}
                <span *ngIf="correctAnswer && !answerEquals(myAnswer, correctAnswer)">{{correctAnswer[mapIndexes(currentQuestion.question_data.items)[i]]+1}}</span>
            </div>
        </div>
        <button class="btn btn-block" [ngClass]="getAnswerClass(mapIndexesReverse(currentQuestion.question_data.items))" (click)="prepareAnswer(mapIndexesReverse(currentQuestion.question_data.items))">Submit</button>
    </div>
</div>