.profile-photo {
    border-radius: 50%;
    height: 200px;
}

#photo-menu {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    align-items: stretch;
}

#photo-preview {
    flex-grow: 1; 
    text-align: center;
}

#photo-form {
    display:flex;
}

@media screen and (max-width: 620px) {
    #photo-form {
        flex-direction: column;
    }

    #photo-preview {
        margin-top: 1rem;
    }
}