#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

#signup-wrapper {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    background-color: #1E1E1E;
    padding: 2rem 3rem;
    box-sizing: border-box;
}

#signup-header {
    margin-bottom: 4rem;
}

#signup-title {
    font-size: 35pt;
    color: var(--color-text);
    margin-bottom: 0px;
}

#signup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

#button-back, #button-signup {
    width: 47%;
}

#button-back {
    background-color: transparent;
    border: #D8D6E1 solid 3px;

    &:hover {
        background-color: #2e2d2d;
    }
}

@media screen and (max-width: 700px) {
    #signup-wrapper {
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
    }
}