.quiz-header {
    margin-bottom: 2rem;

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    
    h2 {
        text-align: center;
        font-size: 2rem;
        margin-top: 0px;
    }
}

.user-icon {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.user-link {
    text-decoration: none;
    color: var(--color-text);
}

.quiz-info {
    font-size: var(--font-size-label);
    margin-top: 1rem;
    margin-bottom: 1rem;
}